---
title: PSFundamentals
---
<!DOCTYPE html>
<html lang="en" >
	{% include head.html %}
<body>
	{% include menu.html %}
	<h1>PowerShell Gallery Analytics</h1>

	<div class="container">
		<div class="faders">
			<div class="left"></div>
			<div class="right"></div>
		</div>
		<div class="items">
			<a href="https://psfundamentals.com/recent-arrivals" target="_blank">
				<div class="item">
                <p class="name">#1 Recent Arrivals: Unique Packages</p>
                <dl class="synopsis">
                    <dt>Unique Packages</dt>
                    <dd>14330</dd>
                </dl>
                <dl class="description">
                    <dt>Unique modules that have found their way onto the shelves of the PowerShell Gallery, a snapshot of tools and solutions crafted by developers worldwide.</dt>
                </dl>
                <img class="img-resp" src="https://psfundamentals.com/assets/psfundtext.png">
                <dl class="date">
                    <dt>Last Update</dt>
                    <dd>10/02/2025</dd>
                </dl>
            </div>
			</a>
			<a href="https://psfundamentals.com/Discoverabilityl" target="_blank">
				 <div class="item">
              <p class="name">#2 Discoverability: <br>Non-empty ProjectUrl</p>
              <dl class="synopsis">
                <dt>Has ProjectUrl</dt>
                <dd>64.62%</dd>
              </dl>
              <dl class="description">
                <dt>9196 modules stand out, they come with a ProjectUrl — an extra layer of understanding and context with use cases, documentation, and more.
              </dt></dl>
              <img class="img-resp" src="https://psfundamentals.com/assets/psfundtext.png">
              <dl class="date">
                <dt>Last Update</dt>
                <dd>10/02/2025</dd>
              </dl>
            </div>
			</a>
			<a href="https://psfundamentals.com/visually-appealing" target="_blank">
				 <div class="item">
		            <p class="name">#3 Visually Appealing: <br>Non-empty IconURL</p>
		            <dl class="synopsis">
		              <dt>Has IconURL</dt>
		              <dd>22.44%</dd>
		            </dl>
		            <dl class="description">
		              <dt>Only 3194 modules carry a unique flair, each adorned with an icon—visual signatures that make them stand out.</dt>
		            </dl>
		            <img class="img-resp" src="https://psfundamentals.com/assets/psfundtext.png">
		            <dl class="date">
		              <dt>Last Update</dt>
		              <dd>09/02/2025</dd>
		            </dl>
		            </div>
			</a>
			<a href="https://psfundamentals.com/license-please" target="_blank">
				          <div class="item">
		            <p class="name">#4 License Please: <br>Digital Consent Required</p>
		            <dl class="synopsis">
		              <dt>Require License Acceptance</dt>
		              <dd>10.00%</dd>
		            </dl>
		            <dl class="description">
		              <dt>Only 1424 modules demand a nod of acknowledgment — require license  terms acceptance. </dt>
		            </dl>
		            <img class="img-resp" src="https://psfundamentals.com/assets/psfundtext.png">
		            <dl class="date">
		              <dt>Last Update</dt>
		              <dd>09/02/2025</dd>
		            </dl>
		            </div>
			</a>
			<a href="https://psfundamentals.com/file-maestro" target="_blank">
				<div class="item">
            <p class="name">#5 The File Maestro: <br>Highest File Count</p>
            <dl class="synopsis">
              <dt>PSSailpoint by Sailpoint Devs</dt>
              <dd>12841 files</dd>
            </dl>
            <dl class="description">
              <dt>Thats a lof of files. It contains bunch of code and documentation </dt>
            </dl>
            <img class="img-resp" src="https://psfundamentals.com/assets/psfundtext.png">
            <dl class="date">
              <dt>Last Update</dt>
              <dd>09/02/2025</dd>
            </dl>
            </div>
			</a>
		</div>

	</div>

	{% include footer.html %}

</body>
</html>
